In [34]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [12]:
file_url = 'data/data.csv'
dataframe = pd.read_csv(file_url)
print(dataframe.shape)
dataframe.head(20)

(500, 10)

,Asset ID,Asset Type,Floor,Room,Installation Date,Manufacturer,Operational Time (hrs),Work Orders,Repairs,Last Serviced Date
0,1,Elevator,7,103,1/6/2020,Manufacturer_4,39313,0,1,6/19/2023
1,2,Plumbing System,6,109,6/11/2022,Manufacturer_2,20012,0,1,1/6/2023
2,3,Fire Alarm,3,104,7/24/2019,Manufacturer_4,21546,10,5,9/24/2022
3,4,Elevator,1,105,1/4/2021,Manufacturer_4,47038,1,1,5/23/2023
4,5,Plumbing System,2,104,11/28/2022,Manufacturer_1,20022,10,3,1/29/2023
5,6,Fire Alarm,2,103,7/29/2021,Manufacturer_3,1602,9,4,10/3/2022
6,7,Fire Alarm,6,108,8/23/2020,Manufacturer_2,15650,2,3,1/13/2023
7,8,HVAC,2,106,6/3/2021,Manufacturer_2,33932,1,4,8/9/2023
8,9,Fire Alarm,6,108,7/30/2023,Manufacturer_5,24332,5,4,2/13/2023
9,10,Elevator,7,101,7/24/2019,Manufacturer_4,18722,10,2,5/29/2023
10,11,HVAC,3,103,6/19/2022,Manufacturer_2,29355,6,1,6/19/2023
11,12,Electrical Panel,10,105,5/14/2022,Manufacturer_2,46525,8,1,11/25/2022
12,13,Fire Alarm,6,106,4/13/2019,Manufacturer_2,43437,7,2,11/30/2022
13,14,Elevator,1,103,3/11/2023,Manufacturer_4,18211,0,4,9/4/2023
14,15,Fire Alarm,5,107,11/30/2019,Manufacturer_5,29177,8,4,8/22/2023
15,16,HVAC,7,103,12/24/2019,Manufacturer_1,12953,2,4,11/17/2022
16,17,Electrical Panel,2,101,12/17/2018,Manufacturer_5,48382,9,5,1/13/2023
17,18,HVAC,7,109,5/5/2022,Manufacturer_2,24260,5,0,3/10/2023
18,19,Fire Alarm,6,104,8/25/2021,Manufacturer_5,45428,2,3,6/8/2023
19,20,Electrical Panel,1,102,3/26/2019,Manufacturer_2,29859,1,5,6/6/2023

In [36]:
reference_date = pd.Timestamp.now()

dataframe['Installation Date'] = pd.to_datetime(dataframe['Installation Date'], format='%m/%d/%Y')
dataframe['Days Since Installation'] = abs((dataframe['Installation Date'] - reference_date).dt.days)

dataframe['Last Serviced Date'] = pd.to_datetime(dataframe['Last Serviced Date'], format='%m/%d/%Y')
dataframe['Days Since Last Serviced'] = abs((dataframe['Last Serviced Date'] - reference_date).dt.days)

dataframe.head(20)

,Asset ID,Asset Type,Floor,Room,Installation Date,Manufacturer,Operational Time (hrs),Work Orders,Repairs,Last Serviced Date,Days Since Installation,Days Since Last Serviced
0,1,Elevator,7,103,2020-01-06,Manufacturer_4,39313,0,1,2023-06-19,1350,90
1,2,Plumbing System,6,109,2022-06-11,Manufacturer_2,20012,0,1,2023-01-06,463,254
2,3,Fire Alarm,3,104,2019-07-24,Manufacturer_4,21546,10,5,2022-09-24,1516,358
3,4,Elevator,1,105,2021-01-04,Manufacturer_4,47038,1,1,2023-05-23,986,117
4,5,Plumbing System,2,104,2022-11-28,Manufacturer_1,20022,10,3,2023-01-29,293,231
5,6,Fire Alarm,2,103,2021-07-29,Manufacturer_3,1602,9,4,2022-10-03,780,349
6,7,Fire Alarm,6,108,2020-08-23,Manufacturer_2,15650,2,3,2023-01-13,1120,247
7,8,HVAC,2,106,2021-06-03,Manufacturer_2,33932,1,4,2023-08-09,836,39
8,9,Fire Alarm,6,108,2023-07-30,Manufacturer_5,24332,5,4,2023-02-13,49,216
9,10,Elevator,7,101,2019-07-24,Manufacturer_4,18722,10,2,2023-05-29,1516,111
10,11,HVAC,3,103,2022-06-19,Manufacturer_2,29355,6,1,2023-06-19,455,90
11,12,Electrical Panel,10,105,2022-05-14,Manufacturer_2,46525,8,1,2022-11-25,491,296
12,13,Fire Alarm,6,106,2019-04-13,Manufacturer_2,43437,7,2,2022-11-30,1618,291
13,14,Elevator,1,103,2023-03-11,Manufacturer_4,18211,0,4,2023-09-04,190,13
14,15,Fire Alarm,5,107,2019-11-30,Manufacturer_5,29177,8,4,2023-08-22,1387,26
15,16,HVAC,7,103,2019-12-24,Manufacturer_1,12953,2,4,2022-11-17,1363,304
16,17,Electrical Panel,2,101,2018-12-17,Manufacturer_5,48382,9,5,2023-01-13,1735,247
17,18,HVAC,7,109,2022-05-05,Manufacturer_2,24260,5,0,2023-03-10,500,191
18,19,Fire Alarm,6,104,2021-08-25,Manufacturer_5,45428,2,3,2023-06-08,753,101
19,20,Electrical Panel,1,102,2019-03-26,Manufacturer_2,29859,1,5,2023-06-06,1636,103

In [13]:
val_dataframe = dataframe.sample(frac=0.2, random_state=1337)
train_dataframe = dataframe.drop(val_dataframe.index)

print(
    "Using %d samples for training and %d for validation"
    % (len(train_dataframe), len(val_dataframe))
)

Using 400 samples for training and 100 for validation

In [24]:
train_dataframe.head()

,Asset ID,Asset Type,Floor,Room,Installation Date,Manufacturer,Operational Time (hrs),Work Orders,Repairs,Last Serviced Date,Days Since Last Serviced
0,1,Elevator,7,103,1/6/2020,Manufacturer_4,39313,0,1,2023-06-19,90
1,2,Plumbing System,6,109,6/11/2022,Manufacturer_2,20012,0,1,2023-01-06,254
3,4,Elevator,1,105,1/4/2021,Manufacturer_4,47038,1,1,2023-05-23,117
4,5,Plumbing System,2,104,11/28/2022,Manufacturer_1,20022,10,3,2023-01-29,231
5,6,Fire Alarm,2,103,7/29/2021,Manufacturer_3,1602,9,4,2022-10-03,349

In [7]:
# def dataframe_to_dataset(dataframe):
#     dataframe = dataframe.copy()
#     labels = dataframe.pop("target")
#     ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
#     ds = ds.shuffle(buffer_size=len(dataframe))
#     return ds


# train_ds = dataframe_to_dataset(train_dataframe)
# val_ds = dataframe_to_dataset(val_dataframe)

NameError: name 'labels' is not defined